@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #09090b;
    color: #f4f4f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .mono {
    font-family:
      ui-monospace, SFMono-Regular, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }
}
